<div class="page-container">
	<div class="side-bar">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link active" routerLink="home">
					<h6>Listado Clientes</h6>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="new-user">
					<h6>Creación Clientes</h6>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="listDetails">
					<h6>Lista Detalles</h6>
				</a>
			</li>
		</ul>
	</div>
	<div class="content-container">
 		<router-outlet></router-outlet>
	</div>
</div>
